---
import Layout from '../layouts/Layout.astro';
import HorizontalLoop from '../components/design/HorizontalLoop.astro';
import Greetings from '../components/design/Greetings.astro';
---

<Layout title="Margarita Velarde - Design">
	<main>
    <HorizontalLoop />
		<Greetings />
			<!-- <Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/> -->
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 2rem 1rem 1rem 1rem;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
