---
import Greetings from '../components/home/Greetings.astro';
import MainVideo from '../components/home/MainVideo.astro';
import Sections from '../components/home/Sections.astro';
import Layout from '../layouts/Layout.astro';
import Works from '../components/home/Works.astro';
import SectionDividerFlower from '../components/home/SectionDividerFlower.astro';
import Contact from '../components/home/Contact.astro';
---

<Layout title="Margarita Velarde">
	<main>
		<MainVideo />
		<Greetings />
		<Sections />
		<Works />
		<SectionDividerFlower />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 2rem 1rem 1rem 1rem;
		max-width: calc(100% - 8rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
