---
interface Props {
	message: string;
}

const { message } = Astro.props;
---

<div class="greetingBox" set:html={message}>
</div>

<style>
.greetingBox {
  padding-top: 8rem;
  padding-bottom: 4rem;
  text-align: right;
  color: #363636;
  font-size: 50px;
  font-family: Cormorant Upright;
  font-weight: 500;
  line-height: 53px;
  word-wrap: break-word;
}
</style>