<div class="greetingBox">
  Hello, welcome to </br> my garden...
</div>

<style>
.greetingBox {
  padding-top: 8rem;
  padding-bottom: 4rem;
  text-align: right;
  color: #363636;
  font-size: 50px;
  font-family: Cormorant Upright;
  font-weight: 500;
  line-height: 53px;
  word-wrap: break-word;
}
</style>