---
interface Props {
	message: string;
}

const { message } = Astro.props;
---

<div class="sectionDivider" set:html={message}>
</div>

<style>
.sectionDivider {
  padding-top: 4rem;
  padding-bottom: 8rem;
  text-align: center; 
  color: #56865E; 
  font-size: 35px; 
  font-family: Cormorant Upright; 
  font-weight: 500; 
  line-height: 53px; 
  word-wrap: break-word
}
</style>