---
interface Props {
	categories: string[];
}

const { categories } = Astro.props;
---

<div class="py-10 flex justify-center" id="artworks">
  {categories.map(category => (
    <button class="sectionBox">{category}</button>
  ))}
</div>

<style>
.sectionBox{
  color: #878988;
  font-size: 25px;
  font-family: Cormorant Upright;
  padding: 8px 25px;
  margin-left: 25px;
  text-align: center; 
  font-weight: 700;
  line-height: 25px; 
  word-wrap: break-word;
}

button:focus {
  color: #698DC2;
}
</style>