---
import ContactForm from "./home/ContactForm.astro";
const contact = {
  title: 'Contact',
	subtitle: 'Do you want a special work? Let’s talk.',
  sendButton: 'Send',
  contact: {
    phone: '+34 621 080 558',
    email: 'maggievelar@gmail.com',
    sns: ['Be', 'Ins', 'Pins']
  }
}

---

<footer>
  <ContactForm 
    title={contact.title}
	  subtitle={contact.subtitle}
    sendButton={contact.sendButton}
    contact={contact.contact}
  />
  <div class="bg-white flex items-center justify-between px-16 py-12">
    <!-- logo -->
    <h1 class="w-3/12">
      <a href="/home">
        <div class="logo">Maggie Velarde</div>
      </a>
    </h1>

    <!-- Term and conditions -->
    <div class="flex items-center">
      <span class="termConditions">
        Terms & Conditions
      </span>
      <a style="padding-inline: 0.75rem;">|</a>
      <span class="termConditions">
        Privacy Policy
      </span>
    </div>

    <div class="flex justify-end">
      <div class="nameAndYear">©2023 Maggie Velarde</div>
    </div>
  </div>

</footer>

<style>
.logo {
  color: #706786;
  font-size: 35px;
  font-family: Cormorant Upright;
  font-weight: 500;
  line-height: 25px;
  word-wrap: break-word;
}

.termConditions {
  color: #878988;
  font-size: 20px;
  font-family: Cormorant Upright;
  font-weight: 600;
  text-decoration: underline;
  line-height: 25px;
  word-wrap: break-word
}

.nameAndYear {
  width: 100%; 
  color: #363636; 
  font-size: 20px; 
  font-family: Cormorant Upright; 
  font-weight: 600; 
  line-height: 25px; 
  word-wrap: break-word
}

</style>