---
import { company } from '../stores/company.store';
import SocialNetworkLinks from './SocialNetworkLinks.astro';
interface Props {
  navButtons: any[];
}

const { navButtons } = Astro.props;

---
<!-- component -->
<header class="header bg-white top-0 z-[999] flex items-center justify-between px-8 py-8">
  <!-- logo -->
  <h1 class="w-3/12">
      <a href="">
        <div class="logo">{company.name}</div>
      </a>
  </h1>

  <!-- navigation -->
  <nav class="nav">
      <ul class="flex items-center">
        {navButtons.map(button => (
          <li class="navItem">
            <a href={`${button.url}`}>{button.title}</a>
          </li>
        ))}
      </ul>
  </nav>

  <div style="text-align: center; color: #363636; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">|</div>

  <!-- social networks --->
  <SocialNetworkLinks alignment='justify-end'/>
</header>

<style>
  /* p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer active */
.logo {
  color: #706786;
  font-size: 35px;
  font-family: Cormorant Upright;
  font-weight: 500;
  line-height: 25px;
  word-wrap: break-word;
}

.navItem {
  color: #878988;
  font-size: 20px;
  padding: 1rem 2rem;
  font-family: Cormorant Upright;
  font-weight: 600;
  line-height: 25px;
  word-wrap: break-word
}
</style>