---
import type { ISns } from '../stores/company.store';

interface Props {
	alignment: string,
  sns: ISns[]
}

const { alignment, sns } = Astro.props;
---

<div class=`flex ${alignment}`>
  {sns.map((sn) => 
    <a href={sn.url} target="_blank">
      <div class="socialNetwork">{sn.code}</div>
    </a>
  )}
</div>

<style>
.socialNetwork {
  text-align: center;
  color: #363636;
  font-size: 20px;
  padding-right: 2rem;
  font-family: Cormorant Upright;
  font-weight: 600;
  line-height: 25px;
  word-wrap: break-word;
}
</style>