<div class="greetingBox">
  <span class="normalText">Hi<br/>I’m Ma</span>
  <span class="secondaryText">gg</span>
  <span class="normalText">ie</span>
</div>

<style>
.greetingBox {
  padding-top: 2rem;
  width: 73%;
  height: 100%;
  text-align: right;
}

.normalText {
  color: #1D1D1D;
  font-size: 7em;
  font-family: EB Garamond;
  font-weight: 750;
  line-height: 120px;
  word-wrap: break-word;
}

.secondaryText {
  color: #698DC2;
  font-size: 7em;
  font-family: EB Garamond;
  font-weight: 750;
  line-height: 120px;
  word-wrap: break-word;
}
</style>