<div class="py-20 flex">
  <button class="sectionBox">All</button>
  <button class="sectionBox">UI/UX</button>
  <button class="sectionBox">WEB</button>
  <button class="sectionBox">BRANDING</button>
</div>

<style>
.sectionBox{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  border-radius: 60px; 
  border: 2px #1D1D1D solid;
  padding: 8px 25px;
  margin-left: 25px;
  text-align: center; 
  color: #1D1D1D;
  font-size: 22px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 25px; 
  word-wrap: break-word;
}

button:focus {     
  background-color:#B9F240;
  color: #1D1D1D;
  border: 0px;
}
</style>