---
import SketchBody from '../../../components/sketch/SketchBody.vue';
import MoreWorks from '../../../components/work/MoreWorks.astro';
import Breadcrums from '../../../components/Breadcrums.astro';
import { slugifyStr } from '../../../utils/slugify';
import { Posts, WebPostType } from '../../../stores/posts.store';
import Layout from '../../../layouts/Layout.astro';
import { CompanyStore } from '../../../stores/company.store';

export async function getStaticPaths() {
  const sketches = Posts.filter((post) => post.type === WebPostType.SKETCH)
  return sketches.map(sketch => {
    return {
      params: {
        slug: slugifyStr(sketch.title)
      },
      props: sketch,
    }
  })
}

const companyStore = new CompanyStore()
const company = await companyStore.getCompany()

const { title, children } = Astro.props
const breadcrums = ['Home', 'Sketches', title]
---

<Layout company={company} title="- Sketch">
	<main>
    <Breadcrums breadcrums={breadcrums}/>
    <div class="flex flex-row my-20">
      <SketchBody children={children} client:load/>
    </div>
    <MoreWorks style="width: 100%;"/>
	</main>
</Layout>

<style>
main {
  margin: auto;
  padding: 2rem 2rem 2rem 2rem;
  max-width: calc(100% - 4rem);
  color: white;
  font-size: 20px;
  line-height: 1.6;
  font-family: Cormorant Upright;
}
</style>