---
import Layout from '../../layouts/Layout.astro';
import { getCompany } from '../../stores/company.store';

const company = await getCompany()
---

<Layout company={company} title='- Sketches'>
  <main>
    <h2>Sketches pages</h2>
  </main>
</Layout>