---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
const navButtons: any[] = [
	{
		title: 'Artwork',
		url: '#artworks'
	},
	{
		title: 'Sketch',
		url: '/sketch'
	},
	{
		title: 'About',
		url: '/about'
	},
	{
		title: 'Shop',
		url: '/shop'
	}
]
---

<!doctype html>
<html lang="en">
	<head>
		<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Cormorant+Upright' rel='stylesheet'>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header navButtons={navButtons}/>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: Poppins;
		background-size: 224px;
		color-scheme: light;
	}
	code {
		font-family:
			Poppins,
			EB Garamond,
			Cormorant Upright,
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
