<div class="moreWorks py-14">
  <a href="/">See more flowers</a>
</div>

<style>
.moreWorks {
  text-align: center; 
  color: #56865E; 
  font-size: 35px; 
  font-family: Cormorant Upright; 
  font-weight: 500; 
  line-height: 53px;
}
</style>